In [1]:
import pandas as pd 
df = pd.read_json('data/nobel_winners.json')
df.head()

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   link            1206 non-null   object
 1   name            1206 non-null   object
 2   year            1206 non-null   int64
 3   category        1206 non-null   object
 4   country         1206 non-null   object
 5   born_in         1206 non-null   object
 6   text            1206 non-null   object
 7   date_of_birth   1197 non-null   object
 8   date_of_death   824 non-null    object
 9   place_of_birth  1197 non-null   object
 10  place_of_death  821 non-null    object
 11  gender          1197 non-null   object
dtypes: int64(1), object(11)
memory usage: 113.2+ KB

In [3]:
df.describe()

              year
count  1206.000000
mean   1974.756219
std      35.042148
min    1809.000000
25%    1952.000000
50%    1980.000000
75%    2004.000000
max    2023.000000

In [4]:
df.describe(include=['object'])

,link,name,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
count,1206,1206,1206,1206,1206,1206,1197,824,1197,821,1197
unique,990,1125,7,66,47,1184,952,663,683,357,2
top,http://en.wikipedia.org/wiki/Charles_K._Kao,Vladimir Prelog *,Physiology or Medicine,United States,,"Leopold Ružička *, Resided in what is now Cr...",23 July 1906,23 September 2018,New York City,Cambridge,male
freq,4,4,283,408,1057,3,4,4,39,45,1113

In [5]:
df.columns

Index(['link', 'name', 'year', 'category', 'country', 'born_in', 'text',
       'date_of_birth', 'date_of_death', 'place_of_birth', 'place_of_death',
       'gender'],
      dtype='object')

In [6]:
df = df.set_index('name')
df.head()

,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
name,,,,,,,,,,,
William Lawrence Bragg,http://en.wikipedia.org/wiki/William_Lawrence_...,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
Brian Schmidt,http://en.wikipedia.org/wiki/Brian_Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
Elizabeth Blackburn *,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
Barry Marshall,http://en.wikipedia.org/wiki/Barry_Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
J. Robin Warren,http://en.wikipedia.org/wiki/Robin_Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male

In [7]:
df.head(2)

,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
name,,,,,,,,,,,
William Lawrence Bragg,http://en.wikipedia.org/wiki/William_Lawrence_...,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
Brian Schmidt,http://en.wikipedia.org/wiki/Brian_Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male

In [8]:
bi_col = df.born_in
bi_col

name
William Lawrence Bragg
Brian Schmidt
Elizabeth Blackburn *     Australia
Barry Marshall
J. Robin Warren
                            ...
Peter Handke
Martin Karplus *            Austria
Elfriede Jelinek
Eric Kandel *               Austria
Walter Kohn *               Austria
Name: born_in, Length: 1206, dtype: object

In [9]:
type(bi_col)

pandas.core.series.Series

In [10]:
df.iloc(0)

In [11]:
df = pd.read_json('data/nobel_winners.json')
df.set_index('name',inplace=True)
df.loc['Albert Einstein']

,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
name,,,,,,,,,,,
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Switzerland,,"Albert Einstein , born in Germany , Physics, ...",14 March 1879,18 April 1955,Ulm,Princeton,male
Albert Einstein,http://en.wikipedia.org/wiki/Albert_Einstein,1921,Physics,Germany,,"Albert Einstein , Physics, 1921",14 March 1879,18 April 1955,Ulm,Princeton,male

In [12]:
df = pd.read_json('data/nobel_winners.json')
df[0:10]

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,,"Peter C. Doherty , Physiology or Medicine, 1996",15 October 1940,NaN,Brisbane,NaN,male
6,http://en.wikipedia.org/wiki/Rolf_Zinkernagel,Rolf Zinkernagel,1996,Physiology or Medicine,Australia,,"Rolf Zinkernagel , Physiology or Medicine, 1996",6 January 1944,NaN,Riehen,NaN,male
7,http://en.wikipedia.org/wiki/John_Cornforth,John Cornforth *,1975,Chemistry,,Australia,"John Cornforth *, Chemistry, 1975",7 September 1917,8 December 2013,Sydney,Brighton,male
8,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein *,1984,Physiology or Medicine,,Argentina,"César Milstein *, Physiology or Medicine, 1984",8 October 1927,24 March 2002,Bahía Blanca,Cambridge,male
9,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,1980,Peace,Argentina,,"Adolfo Pérez Esquivel , Peace, 1980",26 November 1931,NaN,Buenos Aires,NaN,male

In [13]:
df[-4:]

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
1202,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,2013,Chemistry,,Austria,"Martin Karplus *, Chemistry, 2013",15 March 1930,NaN,Vienna,NaN,male
1203,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,2004,Literature,Austria,,"Elfriede Jelinek , Literature, 2004",20 October 1946,NaN,Mürzzuschlag,NaN,female
1204,http://en.wikipedia.org/wiki/Eric_Kandel,Eric Kandel *,2000,Physiology or Medicine,,Austria,"Eric Kandel *, Physiology or Medicine, 2000",7 November 1929,NaN,Vienna,NaN,male
1205,http://en.wikipedia.org/wiki/Walter_Kohn,Walter Kohn *,1998,Chemistry,,Austria,"Walter Kohn *, Chemistry, 1998",9 March 1923,19 April 2016,Vienna,Santa Barbara,male

In [14]:
mask = df.year>2000
mask

0       False
1        True
2        True
3        True
4        True
        ...
1201     True
1202     True
1203     True
1204    False
1205    False
Name: year, Length: 1206, dtype: bool

In [15]:
mask = df.year > 2000
winners_since_2000 = df[mask]
winners_since_2000.count()

link              351
name              351
year              351
category          351
country           351
born_in           351
text              351
date_of_birth     348
date_of_death      75
place_of_birth    348
place_of_death     75
gender            348
dtype: int64

In [16]:
winners_since_2000.head()

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male
14,http://en.wikipedia.org/wiki/Ardem_Patapoutian,Ardem Patapoutian,2021,Physiology or Medicine,Armenia,,"Ardem Patapoutian , born in Lebanon , Physiol...",2 October 1967,NaN,Beirut,NaN,male

In [17]:
winners_since_2000 = df[df.year > 2000]
winners_since_2000

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male
14,http://en.wikipedia.org/wiki/Ardem_Patapoutian,Ardem Patapoutian,2021,Physiology or Medicine,Armenia,,"Ardem Patapoutian , born in Lebanon , Physiol...",2 October 1967,NaN,Beirut,NaN,male
...,...,...,...,...,...,...,...,...,...,...,...,...
1187,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,2013,Physics,Belgium,,"François Englert , Physics, 2013",6 November 1932,NaN,Etterbeek,NaN,male
1200,http://en.wikipedia.org/wiki/Anton_Zeilinger,Anton Zeilinger,2022,Physics,Austria,,"Anton Zeilinger , Physics, 2022",20 May 1945,NaN,Ried im Innkreis,NaN,male
1201,http://en.wikipedia.org/wiki/Peter_Handke,Peter Handke,2019,Literature,Austria,,"Peter Handke , Literature, 2019",6 December 1942,NaN,Griffen,NaN,male
1202,http://en.wikipedia.org/wiki/Martin_Karplus,Martin Karplus *,2013,Chemistry,,Austria,"Martin Karplus *, Chemistry, 2013",15 March 1930,NaN,Vienna,NaN,male
1203,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,2004,Literature,Austria,,"Elfriede Jelinek , Literature, 2004",20 October 1946,NaN,Mürzzuschlag,NaN,female

In [18]:
df.born_in.describe()

count     1206
unique      47
top
freq      1057
Name: born_in, dtype: object

In [19]:
set(df.born_in.apply(type))

{str}

In [20]:
import numpy as np

bi_col.replace("", np.nan, inplace=True)
bi_col

name
William Lawrence Bragg          NaN
Brian Schmidt                   NaN
Elizabeth Blackburn *     Australia
Barry Marshall                  NaN
J. Robin Warren                 NaN
                            ...
Peter Handke                    NaN
Martin Karplus *            Austria
Elfriede Jelinek                NaN
Eric Kandel *               Austria
Walter Kohn *               Austria
Name: born_in, Length: 1206, dtype: object

In [21]:
bi_col.count()

149

In [22]:
df.replace('', np.nan, inplace=True)
df.head()

,link,name,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,NaN,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,NaN,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
2,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,Elizabeth Blackburn *,2009,Physiology or Medicine,NaN,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,NaN,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,NaN,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male

In [23]:
df[df.name.str.contains(r'\*')]['name']

2       Elizabeth Blackburn *
7            John Cornforth *
8            César Milstein *
20         Baruj Benacerraf *
65              T. S. Eliot *
                ...
1191           Richard Kuhn *
1197        Karl von Frisch *
1202         Martin Karplus *
1204            Eric Kandel *
1205            Walter Kohn *
Name: name, Length: 149, dtype: object

In [24]:
df.name = df.name.str.replace('*','',regex=True)
df.name = df.name.str.strip()
df[df.name.str.contains('\*')]

Empty DataFrame
Columns: [link, name, year, category, country, born_in, text, date_of_birth, date_of_death, place_of_birth, place_of_death, gender]
Index: []

In [25]:
# removing rows

np.nan == np.nan

False

In [26]:
df = df[df.born_in.isnull()]
df.count()

link              1057
name              1057
year              1057
category          1056
country           1057
born_in              0
text              1057
date_of_birth     1048
date_of_death      714
place_of_birth    1048
place_of_death     711
gender            1048
dtype: int64

In [27]:
df = df.drop("born_in", axis=1)
df.head()

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",31 March 1890,1 July 1971,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,"Brian Schmidt , born in the United States , P...",24 February 1967,NaN,Missoula,NaN,male
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,"Barry Marshall , Physiology or Medicine, 2005",30 September 1951,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,"J. Robin Warren , Physiology or Medicine, 2005",11 June 1937,NaN,Adelaide,NaN,male
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,"Peter C. Doherty , Physiology or Medicine, 1996",15 October 1940,NaN,Brisbane,NaN,male

In [28]:
# Finding Duplicates

dupes_by_name = df[df.duplicated('name')]
dupes_by_name.count()

link              70
name              70
year              70
category          70
country           70
text              70
date_of_birth     70
date_of_death     35
place_of_birth    70
place_of_death    35
gender            70
dtype: int64

In [29]:
all_dupes = df[df.duplicated("name") | df.duplicated("name", keep="last")]
all_dupes.count()

link              136
name              136
year              136
category          136
country           136
text              136
date_of_birth     136
date_of_death      69
place_of_birth    136
place_of_death     69
gender            136
dtype: int64

In [30]:
all_dupes = df[df.name.isin(dupes_by_name.name)]
all_dupes.count()

link              136
name              136
year              136
category          136
country           136
text              136
date_of_birth     136
date_of_death      69
place_of_birth    136
place_of_death     69
gender            136
dtype: int64

In [31]:
for name,rows in df.groupby('name'):
    print(f'name: {name}, number of rows: {len(rows)}')

name: 14th Dalai Lama, number of rows: 1
name: A. Michael Spence, number of rows: 1
name: Aage Bohr, number of rows: 1
name: Aaron Ciechanover, number of rows: 1
name: Aaron Klug, number of rows: 1
name: Abdulrazak Gurnah, number of rows: 1
name: Abdus Salam, number of rows: 1
name: Abhijit Banerjee, number of rows: 1
name: Abiy Ahmed Ali, number of rows: 1
name: Ada Yonath, number of rows: 1
name: Adam G. Riess, number of rows: 1
name: Adolf Butenandt, number of rows: 1
name: Adolf Otto Reinhold Windaus, number of rows: 1
name: Adolf von Baeyer, number of rows: 1
name: Adolfo Pérez Esquivel, number of rows: 1
name: Ahmed H. Zewail, number of rows: 1
name: Ahmed Zewail, number of rows: 1
name: Akira Suzuki, number of rows: 1
name: Akira Yoshino, number of rows: 1
name: Al Gore, number of rows: 1
name: Alain Aspect, number of rows: 1
name: Alan Heeger, number of rows: 1
name: Alan Lloyd Hodgkin, number of rows: 1
name: Alan MacDiarmid, number of rows: 2
name: Albert A. Michelson, number of rows: 1
name: Albert Camus, number of rows: 1
name: Albert Claude, number of rows: 1
name: Albert Einstein, number of rows: 2
name: Albert Fert, number of rows: 1
name: Albert Lutuli, number of rows: 1
name: Albert Schweitzer, number of rows: 1
name: Albert Szent-Györgyi, number of rows: 1
name: Albrecht Kossel, number of rows: 1
name: Aleksandr M. Prokhorov, number of rows: 1
name: Aleksandr Solzhenitsyn, number of rows: 1
name: Ales Bialiatski, number of rows: 1
name: Alexander Fleming, number of rows: 1
name: Alexander Prokhorov, number of rows: 1
name: Alexander R. Todd, number of rows: 1
name: Alexei Alexeyevich Abrikosov, number of rows: 1
name: Alexei Ekimov, number of rows: 2
name: Alexis Carrel, number of rows: 1
name: Alfonso García Robles, number of rows: 1
name: Alfred G. Gilman, number of rows: 1
name: Alfred Hermann Fried, number of rows: 1
name: Alfred Hershey, number of rows: 1
name: Alfred Kastler, number of rows: 1
name: Alfred Werner, number of rows: 1
name: Alice Munro, number of rows: 1
name: Allan M. Cormack, number of rows: 1
name: Allvar Gullstrand, number of rows: 1
name: Alva Myrdal, number of rows: 1
name: Alvin E. Roth, number of rows: 1
name: Amartya Sen, number of rows: 1
name: American Friends Service Committee  (The Quakers), number of rows: 1
name: Amnesty International, number of rows: 1
name: Anatole France, number of rows: 1
name: Andre Geim, number of rows: 1
name: Andrea Ghez, number of rows: 1
name: Andrei Sakharov, number of rows: 1
name: Andrew Huxley, number of rows: 1
name: Andrew Schally, number of rows: 1
name: Andrew Z. Fire, number of rows: 1
name: André F. Cournand, number of rows: 1
name: André Frédéric Cournand, number of rows: 1
name: André Gide, number of rows: 1
name: André Lwoff, number of rows: 1
name: Angus Deaton, number of rows: 2
name: Anne L'Huillier, number of rows: 2
name: Annie Ernaux, number of rows: 1
name: Anthony J. Leggett, number of rows: 1
name: Antoine Henri Becquerel, number of rows: 1
name: Anton Zeilinger, number of rows: 1
name: Antony Hewish, number of rows: 1
name: António Egas Moniz, number of rows: 1
name: Anwar Sadat, number of rows: 1
name: Archer John Porter Martin, number of rows: 1
name: Archibald Vivian Hill, number of rows: 1
name: Ardem Patapoutian, number of rows: 2
name: Arieh Warshel, number of rows: 2
name: Aristide Briand, number of rows: 1
name: Arne Tiselius, number of rows: 1
name: Arno Penzias, number of rows: 1
name: Arthur Ashkin, number of rows: 1
name: Arthur B. McDonald, number of rows: 1
name: Arthur H. Compton, number of rows: 1
name: Arthur Harden, number of rows: 1
name: Arthur Henderson, number of rows: 1
name: Arthur Kornberg, number of rows: 1
name: Arthur L. Schawlow, number of rows: 1
name: Artturi Ilmari Virtanen, number of rows: 1
name: Arvid Carlsson, number of rows: 1
name: August Krogh, number of rows: 1
name: Auguste Beernaert, number of rows: 1
name: Aung San Suu Kyi, number of rows: 1
name: Austen Chamberlain, number of rows: 1
name: Avram Hershko, number of rows: 1
name: Aziz Sancar, number of rows: 2
name: Barack H. Obama, number of rows: 1
name: Barbara McClintock, number of rows: 1
name: Barry Barish, number of rows: 1
name: Barry Marshall, number of rows: 1
name: Baruch S. Blumberg, number of rows: 1
name: Baruj Benacerraf, number of rows: 1
name: Ben Bernanke, number of rows: 1
name: Ben Feringa, number of rows: 1
name: Ben Roy Mottelson, number of rows: 1
name: Bengt I. Samuelsson, number of rows: 1
name: Bengt R. Holmström, number of rows: 1
name: Benjamin List, number of rows: 1
name: Bernard Katz, number of rows: 1
name: Bernardo Houssay, number of rows: 1
name: Bert Sakmann, number of rows: 1
name: Bertha von Suttner, number of rows: 1
name: Bertil Ohlin, number of rows: 1
name: Bertram Brockhouse, number of rows: 1
name: Bertrand Russell, number of rows: 1
name: Betty Williams, number of rows: 2
name: Bjørnstjerne Bjørnson, number of rows: 1
name: Bob Dylan, number of rows: 1
name: Boris Pasternak, number of rows: 1
name: Brian David Josephson, number of rows: 1
name: Brian K. Kobilka, number of rows: 1
name: Brian P. Schmidt, number of rows: 1
name: Brian Schmidt, number of rows: 1
name: Bruce Beutler, number of rows: 1
name: Bruce Merrifield, number of rows: 1
name: Burton Richter, number of rows: 1
name: C. V. Raman, number of rows: 1
name: Camillo Golgi, number of rows: 1
name: Camilo José Cela, number of rows: 1
name: Carl Anderson, number of rows: 1
name: Carl Bosch, number of rows: 1
name: Carl E. Wieman, number of rows: 1
name: Carl Ferdinand Cori, number of rows: 2
name: Carl Gustaf Verner von Heidenstam, number of rows: 1
name: Carl Spitteler, number of rows: 1
name: Carl von Ossietzky, number of rows: 1
name: Carlo Rubbia, number of rows: 1
name: Carlos Filipe Ximenes Belo, number of rows: 1
name: Carlos Saavedra Lamas, number of rows: 1
name: Carol W. Greider, number of rows: 1
name: Carolyn R. Bertozzi, number of rows: 1
name: Cecil Frank Powell, number of rows: 1
name: Centre for Civil Liberties, number of rows: 1
name: Charles Albert Gobat, number of rows: 1
name: Charles B. Huggins, number of rows: 1
name: Charles G. Dawes, number of rows: 1
name: Charles Glover Barkla, number of rows: 1
name: Charles H. Townes, number of rows: 1
name: Charles J. Pedersen, number of rows: 1
name: Charles K. Kao, number of rows: 3
name: Charles Louis Alphonse Laveran, number of rows: 1
name: Charles M. Rice, number of rows: 1
name: Charles Nicolle, number of rows: 1
name: Charles Richet, number of rows: 1
name: Charles Scott Sherrington, number of rows: 1
name: Charles Thomson Rees Wilson, number of rows: 1
name: Charles Édouard Guillaume, number of rows: 1
name: Chen Ning Yang, number of rows: 1
name: Christiaan Eijkman, number of rows: 1
name: Christian Anfinsen, number of rows: 1
name: Christian Lous Lange, number of rows: 1
name: Christian de Duve, number of rows: 1
name: Christiane Nüsslein-Volhard, number of rows: 1
name: Christopher A. Pissarides, number of rows: 1
name: Christopher A. Sims, number of rows: 1
name: Claude Cohen-Tannoudji, number of rows: 1
name: Claude Simon, number of rows: 1
name: Claudia Goldin, number of rows: 1
name: Clifford G. Shull, number of rows: 1
name: Clinton Davisson, number of rows: 1
name: Clive W. J. Granger, number of rows: 1
name: Cordell Hull, number of rows: 1
name: Corneille Heymans, number of rows: 1
name: Craig C. Mello, number of rows: 1
name: Cyril Norman Hinshelwood, number of rows: 1
name: Czesław Miłosz, number of rows: 1
name: César Milstein, number of rows: 1
name: Dag Hammarskjöld, number of rows: 1
name: Dale T. Mortensen, number of rows: 1
name: Dan Shechtman, number of rows: 1
name: Daniel Bovet, number of rows: 2
name: Daniel C. Tsui, number of rows: 1
name: Daniel Carleton Gajdusek, number of rows: 1
name: Daniel Kahneman, number of rows: 1
name: Daniel L. McFadden, number of rows: 1
name: Daniel Nathans, number of rows: 1
name: Dario Fo, number of rows: 1
name: David Baltimore, number of rows: 1
name: David Card, number of rows: 2
name: David H. Hubel, number of rows: 1
name: David J. Gross, number of rows: 1
name: David J. Thouless, number of rows: 1
name: David J. Wineland, number of rows: 1
name: David Julius, number of rows: 1
name: David M. Lee, number of rows: 1
name: David MacMillan, number of rows: 2
name: David Trimble, number of rows: 2
name: Denis Mukwege, number of rows: 1
name: Dennis Gabor, number of rows: 1
name: Derek Harold Richard Barton, number of rows: 1
name: Derek Walcott, number of rows: 1
name: Desmond Tutu, number of rows: 1
name: Dickinson W. Richards, number of rows: 1
name: Didier Queloz, number of rows: 1
name: Dmitry Muratov, number of rows: 1
name: Dominique Pire, number of rows: 1
name: Donald A. Glaser, number of rows: 1
name: Donald J. Cram, number of rows: 1
name: Donna Strickland, number of rows: 1
name: Doris Lessing, number of rows: 1
name: Dorothy Crowfoot Hodgkin, number of rows: 1
name: Douglas D. Osheroff, number of rows: 1
name: Douglas Diamond, number of rows: 1
name: Douglass C. North, number of rows: 1
name: Drew Weissman, number of rows: 1
name: Dudley R. Herschbach, number of rows: 1
name: Dénes Gábor, number of rows: 1
name: E. Donnall Thomas, number of rows: 1
name: E. M. Purcell, number of rows: 1
name: Earl W. Sutherland Jr., number of rows: 1
name: Edgar Adrian, number of rows: 1
name: Edmond H. Fischer, number of rows: 2
name: Edmund S. Phelps, number of rows: 1
name: Eduard Buchner, number of rows: 1
name: Edvard Moser, number of rows: 1
name: Edward A. Doisy, number of rows: 1
name: Edward B. Lewis, number of rows: 1
name: Edward C. Kendall, number of rows: 1
name: Edward C. Prescott, number of rows: 1
name: Edward Tatum, number of rows: 1
name: Edward Victor Appleton, number of rows: 1
name: Edwin G. Krebs, number of rows: 1
name: Edwin M. McMillan, number of rows: 1
name: Ei-ichi Negishi, number of rows: 2
name: Eisaku Satō, number of rows: 1
name: Elfriede Jelinek, number of rows: 1
name: Elias Canetti, number of rows: 1
name: Elias James Corey, number of rows: 1
name: Elie Wiesel, number of rows: 1
name: Elihu Root, number of rows: 1
name: Elinor Ostrom, number of rows: 1
name: Elizabeth Blackburn, number of rows: 1
name: Ellen Johnson Sirleaf, number of rows: 1
name: Emil Adolf von Behring, number of rows: 1
name: Emilio Segrè, number of rows: 1
name: Emily G. Balch, number of rows: 1
name: Emmanuelle Charpentier, number of rows: 1
name: Enrico Fermi, number of rows: 1
name: Eric A. Cornell, number of rows: 1
name: Eric Betzig, number of rows: 1
name: Eric F. Wieschaus, number of rows: 1
name: Eric Kandel, number of rows: 1
name: Eric S. Maskin, number of rows: 1
name: Erik Axel Karlfeldt, number of rows: 1
name: Ernest Hemingway, number of rows: 1
name: Ernest Lawrence, number of rows: 1
name: Ernest Rutherford, number of rows: 1
name: Ernest Walton, number of rows: 1
name: Ernesto Teodoro Moneta, number of rows: 1
name: Ernst Boris Chain, number of rows: 1
name: Ernst Otto Fischer, number of rows: 1
name: Ernst Ruska, number of rows: 1
name: Erwin Neher, number of rows: 1
name: Erwin Schrödinger, number of rows: 1
name: Esther Duflo, number of rows: 2
name: Eugene F. Fama, number of rows: 1
name: Eugene O'Neill, number of rows: 1
name: Eugene Wigner, number of rows: 1
name: Eugenio Montale, number of rows: 1
name: Eyvind Johnson, number of rows: 1
name: F. Duncan M. Haldane, number of rows: 2
name: F. Sherwood Rowland, number of rows: 1
name: F. W. de Klerk, number of rows: 1
name: Felix Bloch, number of rows: 2
name: Feodor Felix Konrad Lynen, number of rows: 1
name: Ferdinand Buisson, number of rows: 1
name: Ferenc Krausz, number of rows: 1
name: Ferid Murad, number of rows: 1
name: Finn E. Kydland, number of rows: 1
name: Frances Arnold, number of rows: 1
name: Francis Crick, number of rows: 1
name: Francis Peyton Rous, number of rows: 1
name: Francis William Aston, number of rows: 1
name: Franco Modigliani, number of rows: 1
name: Frank B. Kellogg, number of rows: 1
name: Frank Wilczek, number of rows: 1
name: Frans Eemil Sillanpää, number of rows: 1
name: François Englert, number of rows: 1
name: François Jacob, number of rows: 1
name: François Mauriac, number of rows: 1
name: Françoise Barré-Sinoussi, number of rows: 1
name: Fraser Stoddart, number of rows: 2
name: Frederick Banting, number of rows: 1
name: Frederick C. Robbins, number of rows: 1
name: Frederick Hopkins, number of rows: 1
name: Frederick Reines, number of rows: 1
name: Frederick Sanger, number of rows: 2
name: Frederick Soddy, number of rows: 1
name: Fredrik Bajer, number of rows: 1
name: Fridtjof Nansen, number of rows: 1
name: Friedrich Bergius, number of rows: 1
name: Friedrich Hayek, number of rows: 2
name: Friends Service Council, number of rows: 1
name: Frits Zernike, number of rows: 1
name: Fritz Albert Lipmann, number of rows: 1
name: Fritz Haber, number of rows: 1
name: Fritz Pregl, number of rows: 1
name: Frédéric Joliot-Curie, number of rows: 1
name: Frédéric Mistral, number of rows: 1
name: Frédéric Passy, number of rows: 1
name: Fülöp Lénárd, number of rows: 1
name: Gabriel García Márquez, number of rows: 1
name: Gabriel Lippmann, number of rows: 1
name: Gabriela Mistral, number of rows: 1
name: Gao Xingjian, number of rows: 1
name: Gary S. Becker, number of rows: 1
name: Geoffrey Wilkinson, number of rows: 1
name: Georg Wittig, number of rows: 1
name: Georg von Békésy, number of rows: 1
name: George A. Akerlof, number of rows: 1
name: George Andrew Olah, number of rows: 1
name: George Beadle, number of rows: 1
name: George Bernard Shaw, number of rows: 1
name: George C. Marshall, number of rows: 1
name: George D. Snell, number of rows: 1
name: George E. Palade, number of rows: 1
name: George E. Smith, number of rows: 1
name: George F. Smoot, number of rows: 1
name: George H. Hitchings, number of rows: 1
name: George H. Whipple, number of rows: 1
name: George J. Stigler, number of rows: 1
name: George P. Smith, number of rows: 1
name: George Paget Thomson, number of rows: 1
name: George Porter, number of rows: 1
name: George R. Minot, number of rows: 1
name: George Wald, number of rows: 1
name: Georges Charpak, number of rows: 1
name: Gerald Edelman, number of rows: 1
name: Gerard 't Hooft, number of rows: 1
name: Gerd Binnig, number of rows: 1
name: Gerhard Domagk, number of rows: 1
name: Gerhard Ertl, number of rows: 1
name: Gerhard Herzberg, number of rows: 1
name: Gerhart Hauptmann, number of rows: 1
name: Gertrude B. Elion, number of rows: 1
name: Gerty Cori, number of rows: 2
name: Giorgio Parisi, number of rows: 1
name: Giorgos Seferis, number of rows: 1
name: Giosuè Carducci, number of rows: 1
name: Giulio Natta, number of rows: 1
name: Glenn Theodore Seaborg, number of rows: 1
name: Godfrey Hounsfield, number of rows: 1
name: Grazia Deledda, number of rows: 1
name: Greg Winter, number of rows: 1
name: Gregg L. Semenza, number of rows: 1
name: Guglielmo Marconi, number of rows: 1
name: Guido Imbens, number of rows: 2
name: Gunnar Myrdal, number of rows: 1
name: Gustaf Dalén, number of rows: 1
name: Gustav Ludwig Hertz, number of rows: 1
name: Gustav Stresemann, number of rows: 1
name: György András Oláh, number of rows: 1
name: György Békésy, number of rows: 1
name: György Hevesy, number of rows: 1
name: Gérard Debreu, number of rows: 2
name: Gérard Mourou, number of rows: 1
name: Günter Blobel, number of rows: 1
name: Günter Grass, number of rows: 1
name: H. David Politzer, number of rows: 1
name: H. Robert Horvitz, number of rows: 1
name: Haldan Keffer Hartline, number of rows: 1
name: Halldór Laxness, number of rows: 1
name: Hamilton O. Smith, number of rows: 1
name: Hannes Alfvén, number of rows: 1
name: Hans Adolf Krebs, number of rows: 1
name: Hans Bethe, number of rows: 1
name: Hans Fischer, number of rows: 1
name: Hans G. Dehmelt, number of rows: 1
name: Hans Spemann, number of rows: 1
name: Hans von Euler-Chelpin, number of rows: 1
name: Har Gobind Khorana, number of rows: 1
name: Harald zur Hausen, number of rows: 1
name: Harold C. Urey, number of rows: 1
name: Harold E. Varmus, number of rows: 1
name: Harold Kroto, number of rows: 1
name: Harold Pinter, number of rows: 1
name: Harry M. Markowitz, number of rows: 1
name: Harry Martinson, number of rows: 1
name: Hartmut Michel, number of rows: 1
name: Harvey J. Alter, number of rows: 1
name: Heike Kamerlingh Onnes, number of rows: 1
name: Heinrich Böll, number of rows: 1
name: Heinrich Otto Wieland, number of rows: 1
name: Heinrich Rohrer, number of rows: 1
name: Hendrik Lorentz, number of rows: 1
name: Henri Bergson, number of rows: 1
name: Henri La Fontaine, number of rows: 1
name: Henri Moissan, number of rows: 1
name: Henrik Dam, number of rows: 1
name: Henrik Pontoppidan, number of rows: 1
name: Henry Dunant, number of rows: 2
name: Henry Hallett Dale, number of rows: 1
name: Henry Kissinger, number of rows: 1
name: Henry Taube, number of rows: 1
name: Henry W. Kendall, number of rows: 1
name: Henryk Sienkiewicz, number of rows: 1
name: Herbert A. Hauptman, number of rows: 1
name: Herbert A. Simon, number of rows: 1
name: Herbert C. Brown, number of rows: 1
name: Herbert Kroemer, number of rows: 1
name: Herbert S. Gasser, number of rows: 1
name: Hermann Emil Fischer, number of rows: 1
name: Hermann Hesse, number of rows: 1
name: Hermann J. Muller, number of rows: 1
name: Hermann Staudinger, number of rows: 1
name: Herta Müller, number of rows: 1
name: Hideki Shirakawa, number of rows: 1
name: Hideki Yukawa, number of rows: 1
name: Hiroshi Amano, number of rows: 1
name: Hjalmar Branting, number of rows: 1
name: Horst L. Störmer, number of rows: 1
name: Horst Ludwig Störmer, number of rows: 1
name: Howard Florey, number of rows: 1
name: Howard Martin Temin, number of rows: 1
name: Hugo Theorell, number of rows: 1
name: Igor Tamm, number of rows: 1
name: Ilya Ilyich Mechnikov, number of rows: 1
name: Ilya Mikhailovich Frank, number of rows: 1
name: Ilya Prigogine, number of rows: 1
name: Imre Kertész, number of rows: 1
name: Institut de Droit International, number of rows: 1
name: Irving Langmuir, number of rows: 1
name: Irwin Rose, number of rows: 1
name: Irène Joliot-Curie, number of rows: 1
name: Isaac Bashevis Singer, number of rows: 1
name: Isamu Akasaki, number of rows: 1
name: Isidor Isaac Rabi, number of rows: 1
name: Ivan Bunin, number of rows: 1
name: Ivan Pavlov, number of rows: 1
name: Ivar Giaever, number of rows: 2
name: Ivo Andric, number of rows: 1
name: Ivo Andrić, number of rows: 1
name: J. Georg Bednorz, number of rows: 1
name: J. Hans D. Jensen, number of rows: 1
name: J. J. Thomson, number of rows: 1
name: J. M. Coetzee, number of rows: 1
name: J. M. G. Le Clézio, number of rows: 1
name: J. Michael Bishop, number of rows: 1
name: J. Robin Warren, number of rows: 1
name: Jacinto Benavente, number of rows: 1
name: Jack Kilby, number of rows: 1
name: Jack Steinberger, number of rows: 1
name: Jack W. Szostak, number of rows: 3
name: Jacobus Henricus van 't Hoff, number of rows: 1
name: Jacques Dubochet, number of rows: 1
name: Jacques Monod, number of rows: 1
name: James A. Mirrlees, number of rows: 1
name: James Allison, number of rows: 1
name: James B. Sumner, number of rows: 1
name: James Chadwick, number of rows: 1
name: James Cronin, number of rows: 1
name: James D. Watson, number of rows: 1
name: James Franck, number of rows: 1
name: James J. Heckman, number of rows: 1
name: James M. Buchanan, number of rows: 1
name: James Meade, number of rows: 1
name: James Rainwater, number of rows: 1
name: James Rothman, number of rows: 1
name: James Tobin, number of rows: 1
name: James W. Black, number of rows: 1
name: Jan Tinbergen, number of rows: 1
name: Jane Addams, number of rows: 1
name: Jaroslav Heyrovský, number of rows: 1
name: Jaroslav Seifert, number of rows: 1
name: Jean Baptiste Perrin, number of rows: 1
name: Jean Dausset, number of rows: 1
name: Jean Tirole, number of rows: 1

In [32]:
pd.concat([g for _, g in df.groupby("name") if len(g) > 1])["name"]

275           Alan MacDiarmid
767           Alan MacDiarmid
598           Albert Einstein
913           Albert Einstein
432             Alexei Ekimov
                ...
444       William Henry Bragg
0      William Lawrence Bragg
460    William Lawrence Bragg
207               Yuan T. Lee
582               Yuan T. Lee
Name: name, Length: 136, dtype: object

In [33]:
# sorting data
df2 = pd.DataFrame(
    {"name": ["zak", "alice", "bob", "mike", "bob", "bob"], "score": [4, 3, 5, 2, 3, 7]}
)
df2.sort_values(["name", "score"], ascending=[1, 0])

    name  score
1  alice      3
5    bob      7
2    bob      5
4    bob      3
3   mike      2
0    zak      4

In [34]:
all_dupes.sort_values('name')[['name','country','year']]

                       name         country  year
767         Alan MacDiarmid     New Zealand  2000
275         Alan MacDiarmid   United States  2000
598         Albert Einstein     Switzerland  1921
913         Albert Einstein         Germany  1921
432           Alexei Ekimov   United States  2023
..                      ...             ...   ...
73      William Henry Bragg       Australia  1915
460  William Lawrence Bragg  United Kingdom  1915
0    William Lawrence Bragg       Australia  1915
582             Yuan T. Lee          Taiwan  1986
207             Yuan T. Lee   United States  1986

[136 rows x 3 columns]

In [35]:
df.drop(df[(df.name == 'Sidney Altman') & (df.year == 1990)].index,inplace=True)

In [36]:
df = df[~((df.name == "Sidney Altman") & (df.year == 1990))]

In [37]:
def cleane_data(df):
    df = df.replace("", np.nan)
    df = df[df.born_in_isnull()]
    df = df.drop("born_in", axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == "Marie Curie")]
    df.loc[
        (df.name == "Marie Sk\u0142odowska-Curie") & (df.year == 1911), "country"
    ] = "France"
    df = df[~((df.name == "Sidney Altman") & (df.year == 1990))]
    return df

df = df.reindex(np.random.permutation(df.index))
df = df.drop_duplicates(['name','year'])
df = df.sort_index()
df.count()

link              994
name              994
year              994
category          993
country           994
text              994
date_of_birth     985
date_of_death     685
place_of_birth    985
place_of_death    682
gender            985
dtype: int64

In [38]:
df[df.duplicated('name')|df.duplicated('name',keep='last')].sort_values(by='name')[['name','country','year','category']]

                        name         country  year                category
480         Frederick Sanger  United Kingdom  1958               Chemistry
510         Frederick Sanger  United Kingdom  1980               Chemistry
79              John Bardeen   United States  1956                 Physics
134             John Bardeen   United States  1972                 Physics
292       K. Barry Sharpless   United States  2001               Chemistry
424       K. Barry Sharpless   United States  2022               Chemistry
77          Linus C. Pauling   United States  1954               Chemistry
104         Linus C. Pauling   United States  1962                   Peace
1010             Marie Curie          France  1903                 Physics
1016             Marie Curie          France  1911               Chemistry
708   Marie Skłodowska-Curie          Poland  1911               Chemistry
716   Marie Skłodowska-Curie          Poland  1903                 Physics
623            Ragnar Granit          Sweden  1967  Physiology or Medicine
1081           Ragnar Granit         Finland  1809  Physiology or Medicine

In [39]:
df[df.category.isnull()][['name', 'text']]

              name                                               text
875  Róbert Bárány  Róbert Bárány ,  born in Austria , Medicine, 1914

In [40]:
df.loc[df.name =='Róbert Bárány','category'] = 'Physiology or Medicine'

In [41]:
df[df.gender.isnull()]['name']

66      American Friends Service Committee  (The Quakers)
472                               Friends Service Council
504                                 Amnesty International
590                            Centre for Civil Liberties
695                                              Memorial
769     Organisation for the Prohibition of Chemical W...
1060                             Médecins Sans Frontières
1162                      Institut de Droit International
1170     Pugwash Conferences on Science and World Affairs
Name: name, dtype: object

In [42]:
def cleane_data(df):
    df = df.replace("", np.nan)
    # df = df[df.born_in.isnull()]
    # df = df.drop("born_in", axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == "Marie Curie")]
    df.loc[
        (df.name == "Marie Sk\u0142odowska-Curie") & (df.year == 1911), "country"
    ] = "France"
    df = df[~((df.name == "Sidney Altman") & (df.year == 1990))]
    df.loc[df.name == "Ragnar Granit", "gender"] = "male"
    df = df[df.gender.notnull()]
    return df

In [43]:
df = cleane_data(df)
df.count()

link              980
name              980
year              980
category          980
country           980
text              980
date_of_birth     980
date_of_death     680
place_of_birth    980
place_of_death    677
gender            980
dtype: int64

In [44]:
df[df.date_of_birth.isnull()]['name']

Series([], Name: name, dtype: object)

In [45]:
# dealign with time and dates
df[['name','date_of_birth']]

                        name      date_of_birth
0     William Lawrence Bragg      31 March 1890
1              Brian Schmidt   24 February 1967
3             Barry Marshall  30 September 1951
4            J. Robin Warren       11 June 1937
5           Peter C. Doherty    15 October 1940
...                      ...                ...
1196           Konrad Lorenz    7 November 1903
1199     Carl Ferdinand Cori    5 December 1896
1200         Anton Zeilinger        20 May 1945
1201            Peter Handke    6 December 1942
1203        Elfriede Jelinek    20 October 1946

[980 rows x 2 columns]

In [46]:
pd.to_datetime(df.date_of_birth,errors='raise')

0      1890-03-31
1      1967-02-24
3      1951-09-30
4      1937-06-11
5      1940-10-15
          ...
1196   1903-11-07
1199   1896-12-05
1200   1945-05-20
1201   1942-12-06
1203   1946-10-20
Name: date_of_birth, Length: 980, dtype: datetime64[ns]

In [47]:
df.date_of_birth = pd.to_datetime(df.date_of_birth,errors='coerce')
df.head()

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",1890-03-31,1 July 1971,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,"Brian Schmidt , born in the United States , P...",1967-02-24,NaN,Missoula,NaN,male
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,"Barry Marshall , Physiology or Medicine, 2005",1951-09-30,NaN,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,"J. Robin Warren , Physiology or Medicine, 2005",1937-06-11,NaN,Adelaide,NaN,male
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,"Peter C. Doherty , Physiology or Medicine, 1996",1940-10-15,NaN,Brisbane,NaN,male

In [48]:
pd.to_datetime(df.date_of_death, errors='raise')

0      1971-07-01
1             NaT
3             NaT
4             NaT
5             NaT
          ...
1196   1989-02-27
1199   1984-10-20
1200          NaT
1201          NaT
1203          NaT
Name: date_of_death, Length: 980, dtype: datetime64[ns]

In [49]:
for i,row in df.iterrows():
    try:
        pd.to_datetime(row.date_of_death, errors='raise')
    except:
        print(f"{row.date_of_death.ljust(30)}({row['name']}, {i})")

In [50]:
# gets all rows with non-null date fields
with_death_dates = df[df.date_of_death.notnull()]
with_death_dates.head()

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",1890-03-31,1 July 1971,Adelaide,Ipswich,male
10,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,1970,Chemistry,Argentina,"Luis Federico Leloir , born in France , Chemi...",1906-09-06,2 December 1987,Paris,Catamarca Province,male
11,http://en.wikipedia.org/wiki/Ivo_Andri%C4%87,Ivo Andrić,1961,Literature,Yugoslavia,"Ivo Andrić , born in the Condominium of Bosn...",1892-10-09,13 March 1975,Dolac,Belgrade,male
12,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,1947,Physiology or Medicine,Argentina,"Bernardo Houssay , Physiology or Medicine, 1947",1887-04-10,21 September 1971,Buenos Aires,Buenos Aires,male
13,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,1936,Peace,Argentina,"Carlos Saavedra Lamas , Peace, 1936",1878-11-01,5 May 1959,Buenos Aires,Buenos Aires,male

In [51]:
bad_dates = pd.isnull(pd.to_datetime(with_death_dates.date_of_death, errors="coerce"))
bad_dates.head()

0     False
10    False
11    False
12    False
13    False
Name: date_of_death, dtype: bool

In [52]:
with_death_dates[bad_dates][["category", "date_of_death", "name"]]

Empty DataFrame
Columns: [category, date_of_death, name]
Index: []

In [53]:
df.date_of_death = pd.to_datetime(df.date_of_death, errors="coerce")
df

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",1890-03-31,1971-07-01,Adelaide,Ipswich,male
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,"Brian Schmidt , born in the United States , P...",1967-02-24,NaT,Missoula,NaN,male
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,"Barry Marshall , Physiology or Medicine, 2005",1951-09-30,NaT,Kalgoorlie,NaN,male
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,"J. Robin Warren , Physiology or Medicine, 2005",1937-06-11,NaT,Adelaide,NaN,male
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,"Peter C. Doherty , Physiology or Medicine, 1996",1940-10-15,NaT,Brisbane,NaN,male
...,...,...,...,...,...,...,...,...,...,...,...
1196,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,1973,Physiology or Medicine,Austria,"Konrad Lorenz , Physiology or Medicine, 1973",1903-11-07,1989-02-27,Vienna,Vienna,male
1199,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori,1947,Physiology or Medicine,Austria,"Carl Ferdinand Cori , born in Austria , Physi...",1896-12-05,1984-10-20,Prague,Cambridge,male
1200,http://en.wikipedia.org/wiki/Anton_Zeilinger,Anton Zeilinger,2022,Physics,Austria,"Anton Zeilinger , Physics, 2022",1945-05-20,NaT,Ried im Innkreis,NaN,male
1201,http://en.wikipedia.org/wiki/Peter_Handke,Peter Handke,2019,Literature,Austria,"Peter Handke , Literature, 2019",1942-12-06,NaT,Griffen,NaN,male
1203,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,2004,Literature,Austria,"Elfriede Jelinek , Literature, 2004",1946-10-20,NaT,Mürzzuschlag,NaN,female

In [54]:
# hwo old were they when they got their award
df['award_age'] = df.year - pd.DatetimeIndex(df.date_of_birth).year

In [55]:
df

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender,award_age
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",1890-03-31,1971-07-01,Adelaide,Ipswich,male,25
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,"Brian Schmidt , born in the United States , P...",1967-02-24,NaT,Missoula,NaN,male,44
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,"Barry Marshall , Physiology or Medicine, 2005",1951-09-30,NaT,Kalgoorlie,NaN,male,54
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,"J. Robin Warren , Physiology or Medicine, 2005",1937-06-11,NaT,Adelaide,NaN,male,68
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,"Peter C. Doherty , Physiology or Medicine, 1996",1940-10-15,NaT,Brisbane,NaN,male,56
...,...,...,...,...,...,...,...,...,...,...,...,...
1196,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,1973,Physiology or Medicine,Austria,"Konrad Lorenz , Physiology or Medicine, 1973",1903-11-07,1989-02-27,Vienna,Vienna,male,70
1199,http://en.wikipedia.org/wiki/Carl_Ferdinand_Cori,Carl Ferdinand Cori,1947,Physiology or Medicine,Austria,"Carl Ferdinand Cori , born in Austria , Physi...",1896-12-05,1984-10-20,Prague,Cambridge,male,51
1200,http://en.wikipedia.org/wiki/Anton_Zeilinger,Anton Zeilinger,2022,Physics,Austria,"Anton Zeilinger , Physics, 2022",1945-05-20,NaT,Ried im Innkreis,NaN,male,77
1201,http://en.wikipedia.org/wiki/Peter_Handke,Peter Handke,2019,Literature,Austria,"Peter Handke , Literature, 2019",1942-12-06,NaT,Griffen,NaN,male,77
1203,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,2004,Literature,Austria,"Elfriede Jelinek , Literature, 2004",1946-10-20,NaT,Mürzzuschlag,NaN,female,58

In [56]:
df.sort_values("award_age").iloc[:10][["name", "award_age", "category", "year"]]

                       name  award_age category  year
745        Malala Yousafzai         17    Peace  2014
0    William Lawrence Bragg         25  Physics  1915
858             Nadia Murad         25    Peace  2018
46            Carl Anderson         31  Physics  1936
448              Paul Dirac         31  Physics  1933
946  Werner Karl Heisenberg         31  Physics  1932
92            Tsung-Dao Lee         31  Physics  1957
863        Mairead Corrigan         32    Peace  1976
960        Rudolf Mössbauer         32  Physics  1961
23          Tawakkol Karman         32    Peace  2011

In [57]:
def clean_data(df):
    df = df.replace("", np.nan)
    df_born_in = df[df.born_in.notnull()]
    df = df[df.born_in.isnull()]
    df = df.drop("born_in", axis=1)
    df.drop(df[df.year == 1809].index, inplace=True)
    df = df[~(df.name == "Marie Curie")]
    df.loc[
        (df.name == "Marie Sk\u0142odowska-Curie") & (df.year == 1911), "country"
    ] = "France"
    df = df[~((df.name == "Sidney Altman") & (df.year == 1990))]
    df = df.reindex(np.random.permutation(df.index))
    df = df.drop_duplicates(["name", "year"])
    df = df.sort_index()
    df.loc[df.name == "Alexis Carrel", "category"] = "Physiology or Medicine"
    df.loc[df.name == "Ragnar Granit", "gender"] = "male"
    df = df[df.gender.notnull()]  # remove institutional prizes
    df.loc[df.name == "Hiroshi Amano", "date_of_birth"] = "11 September 1960"
    df.date_of_birth = pd.to_datetime(df.date_of_birth)
    df.date_of_death = pd.to_datetime(df.date_of_death, errors="coerce")
    df["award_age"] = df.year - pd.DatetimeIndex(df.date_of_birth).year

    return df, df_born_in

In [58]:
df = pd.read_json(open("data/nobel_winners.json"))
df_clean, df_born_in = clean_data(df)
df_clean

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender,award_age
0,http://en.wikipedia.org/wiki/William_Lawrence_...,William Lawrence Bragg,1915,Physics,Australia,"William Lawrence Bragg , Physics, 1915",1890-03-31,1971-07-01,Adelaide,Ipswich,male,25
1,http://en.wikipedia.org/wiki/Brian_Schmidt,Brian Schmidt,2011,Physics,Australia,"Brian Schmidt , born in the United States , P...",1967-02-24,NaT,Missoula,NaN,male,44
3,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,2005,Physiology or Medicine,Australia,"Barry Marshall , Physiology or Medicine, 2005",1951-09-30,NaT,Kalgoorlie,NaN,male,54
4,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,2005,Physiology or Medicine,Australia,"J. Robin Warren , Physiology or Medicine, 2005",1937-06-11,NaT,Adelaide,NaN,male,68
5,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty,1996,Physiology or Medicine,Australia,"Peter C. Doherty , Physiology or Medicine, 1996",1940-10-15,NaT,Brisbane,NaN,male,56
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,1974,Economics,Austria,"Friedrich Hayek , Economics, 1974",1899-05-08,1992-03-23,Vienna,Freiburg im Breisgau,male,75
1196,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,1973,Physiology or Medicine,Austria,"Konrad Lorenz , Physiology or Medicine, 1973",1903-11-07,1989-02-27,Vienna,Vienna,male,70
1200,http://en.wikipedia.org/wiki/Anton_Zeilinger,Anton Zeilinger,2022,Physics,Austria,"Anton Zeilinger , Physics, 2022",1945-05-20,NaT,Ried im Innkreis,NaN,male,77
1201,http://en.wikipedia.org/wiki/Peter_Handke,Peter Handke,2019,Literature,Austria,"Peter Handke , Literature, 2019",1942-12-06,NaT,Griffen,NaN,male,77
1203,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,2004,Literature,Austria,"Elfriede Jelinek , Literature, 2004",1946-10-20,NaT,Mürzzuschlag,NaN,female,58

In [59]:
df_born_in.name

2       Elizabeth Blackburn *
7            John Cornforth *
8            César Milstein *
20         Baruj Benacerraf *
65              T. S. Eliot *
                ...
1191           Richard Kuhn *
1197        Karl von Frisch *
1202         Martin Karplus *
1204            Eric Kandel *
1205            Walter Kohn *
Name: name, Length: 149, dtype: object

In [60]:
# remove * form the names
df_born_in.name = df_born_in.name.str.replace('*', '', regex=False)
# remove white space
df_born_in.name = df_born_in.name.str.strip()
# remove duplicate names
df_born_in.drop_duplicates(subset=['name'], inplace=True)
# set index to name
df_born_in.set_index('name', inplace=True)
df_born_in

,link,year,category,country,born_in,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender
name,,,,,,,,,,,
Elizabeth Blackburn,http://en.wikipedia.org/wiki/Elizabeth_Blackburn,2009,Physiology or Medicine,NaN,Australia,"Elizabeth Blackburn *, Physiology or Medicine,...",26 November 1948,NaN,Hobart,NaN,female
John Cornforth,http://en.wikipedia.org/wiki/John_Cornforth,1975,Chemistry,NaN,Australia,"John Cornforth *, Chemistry, 1975",7 September 1917,8 December 2013,Sydney,Brighton,male
César Milstein,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,1984,Physiology or Medicine,NaN,Argentina,"César Milstein *, Physiology or Medicine, 1984",8 October 1927,24 March 2002,Bahía Blanca,Cambridge,male
Baruj Benacerraf,http://en.wikipedia.org/wiki/Baruj_Benacerraf,1980,Physiology or Medicine,NaN,Venezuela,"Baruj Benacerraf *, Physiology or Medicine, 1980",29 October 1920,2 August 2011,Caracas,Boston,male
T. S. Eliot,http://en.wikipedia.org/wiki/T._S._Eliot,1948,Literature,NaN,United States,"T. S. Eliot *, Literature, 1948",26 September 1888,4 January 1965,St. Louis,Kensington,male
...,...,...,...,...,...,...,...,...,...,...,...
Richard Kuhn,http://en.wikipedia.org/wiki/Richard_Kuhn,1938,Chemistry,NaN,Austria,"Richard Kuhn *, Chemistry, 1938",3 December 1900,31 July 1967,Vienna,Heidelberg,male
Karl von Frisch,http://en.wikipedia.org/wiki/Karl_von_Frisch,1973,Physiology or Medicine,NaN,Austria,"Karl von Frisch *, Physiology or Medicine, 1973",20 November 1886,12 June 1982,Vienna,Munich,male
Martin Karplus,http://en.wikipedia.org/wiki/Martin_Karplus,2013,Chemistry,NaN,Austria,"Martin Karplus *, Chemistry, 2013",15 March 1930,NaN,Vienna,NaN,male
Eric Kandel,http://en.wikipedia.org/wiki/Eric_Kandel,2000,Physiology or Medicine,NaN,Austria,"Eric Kandel *, Physiology or Medicine, 2000",7 November 1929,NaN,Vienna,NaN,male
Walter Kohn,http://en.wikipedia.org/wiki/Walter_Kohn,1998,Chemistry,NaN,Austria,"Walter Kohn *, Chemistry, 1998",9 March 1923,19 April 2016,Vienna,Santa Barbara,male

In [61]:
df_born_in.loc['Elizabeth Blackburn']

link               http://en.wikipedia.org/wiki/Elizabeth_Blackburn
year                                                           2009
category                                     Physiology or Medicine
country                                                         NaN
born_in                                                   Australia
text              Elizabeth Blackburn *, Physiology or Medicine,...
date_of_birth                                      26 November 1948
date_of_death                                                   NaN
place_of_birth                                               Hobart
place_of_death                                                  NaN
gender                                                       female
Name: Elizabeth Blackburn, dtype: object

In [62]:
def get_born_in(name):
    try:
        born_in = df_born_in.loc[name]['born_in']
        print(f'name: {name}, born in: {born_in}')
    except:
        born_in = np.nan
    return born_in

In [63]:
df_wbi=df_clean.copy()
df_wbi['born_in'] = df_wbi['name'].apply(get_born_in)

name: Luis Federico Leloir, born in: France
name: Ivo Andrić, born in: Austria
name: Patrick White, born in: United Kingdom
name: Albert A. Michelson, born in: Poland
name: Isidor Isaac Rabi, born in: Poland
name: Otto Stern, born in: Germany
name: William Giauque, born in: Canada
name: Carl Ferdinand Cori, born in: Czech Republic
name: Gerty Cori, born in: Czech Republic
name: Polykarp Kusch, born in: Germany
name: Fritz Albert Lipmann, born in: Germany
name: Tsung-Dao Lee, born in: Taiwan
name: Severo Ochoa, born in: Spain
name: Emilio Segrè, born in: Italy
name: Konrad Bloch, born in: Germany
name: Maria Goeppert-Mayer, born in: Germany
name: Har Gobind Khorana, born in: India
name: Hans Bethe, born in: Germany
name: Charles B. Huggins, born in: Canada
name: Salvador Luria, born in: Italy
name: Max Delbrück, born in: Germany
name: George E. Palade, born in: Romania
name: Henry Kissinger, born in: Germany
name: Renato Dulbecco, born in: Italy
name: Saul Bellow, born in: Canada
name: Roger Guillemin, born in: France
name: Andrew Schally, born in: Poland
name: Arno Penzias, born in: Germany
name: Allan M. Cormack, born in: South Africa
name: Czesław Miłosz, born in: Poland
name: Baruj Benacerraf, born in: Venezuela
name: Isaac Bashevis Singer, born in: Poland
name: Roald Hoffmann, born in: Poland
name: Franco Modigliani, born in: Italy
name: Henry Taube, born in: Canada
name: Nicolaas Bloembergen, born in: Netherlands
name: David H. Hubel, born in: Canada
name: Elie Wiesel, born in: Romania
name: Jack Steinberger, born in: Germany
name: Hans G. Dehmelt, born in: Germany
name: Rudolph A. Marcus, born in: Canada
name: Sidney Altman, born in: Canada
name: William Vickrey, born in: Canada
name: Daniel C. Tsui, born in: China (People's Republic of China)
name: Walter Kohn, born in: Austria
name: Eric Kandel, born in: Austria
name: Günter Blobel, born in: Germany
name: Myron Scholes, born in: Canada
name: Riccardo Giacconi, born in: Italy
name: Sydney Brenner, born in: South Africa
name: Anthony J. Leggett, born in: United Kingdom
name: Alexei Alexeyevich Abrikosov, born in: Russia and Soviet Union
name: Daniel Kahneman, born in: Israel
name: Oliver Smithies, born in: United Kingdom
name: Mario R. Capecchi, born in: Italy
name: Elizabeth Blackburn, born in: Australia
name: Venkatraman Ramakrishnan, born in: India
name: Willard S. Boyle, born in: Canada
name: Yoichiro Nambu, born in: Japan
name: Leonid Hurwicz, born in: Russia and Soviet Union
name: Michael Levitt, born in: South Africa
name: Martin Karplus, born in: Austria
name: Shuji Nakamura, born in: Japan
name: John B. Goodenough, born in: Germany
name: Abhijit Banerjee, born in: India
name: Joachim Frank, born in: Germany
name: Rainer Weiss, born in: Germany
name: Syukuro Manabe, born in: Japan
name: Ardem Patapoutian, born in: Lebanon
name: Ernest Rutherford, born in: New Zealand
name: George Bernard Shaw, born in: Ireland
name: T. S. Eliot, born in: United States
name: Ernst Boris Chain, born in: Germany
name: Max Born, born in: Germany
name: Hans Adolf Krebs, born in: Germany
name: Bernard Katz, born in: Germany
name: Nikolaas Tinbergen, born in: Netherlands
name: John Cornforth, born in: Australia
name: W. Arthur Lewis, born in: Saint Lucia
name: César Milstein, born in: Argentina
name: Aaron Klug, born in: South Africa
name: Joseph Rotblat, born in: Poland
name: Elias Canetti, born in: Bulgaria
name: Christopher A. Pissarides, born in: Cyprus
name: Konstantin Novoselov, born in: Russia and Soviet Union
name: V. S. Naipaul, born in: Trinidad and Tobago
name: Kazuo Ishiguro, born in: Japan
name: Abdulrazak Gurnah, born in: Tanzania
name: John O'Keefe, born in: United States
name: Alfred Werner, born in: France
name: Tadeusz Reichstein, born in: Poland
name: Hermann Hesse, born in: Germany
name: Nelly Sachs, born in: Germany
name: Hans von Euler-Chelpin, born in: Germany
name: Mario Vargas Llosa, born in: Peru
name: Zhores Alferov, born in: Belarus
name: Andre Geim, born in: Russia and Soviet Union
name: Menachem Begin, born in: Russia and Soviet Union
name: Shimon Peres, born in: Poland
name: Seán MacBride, born in: France
name: Robert Aumann, born in: United States
name: Mother Teresa, born in: North Macedonia
name: Charles K. Kao, born in: China (People's Republic of China)
name: Wilhelm Ostwald, born in: Latvia
name: Richard Kuhn, born in: Austria
name: Karl von Frisch, born in: Austria
name: Peter Grünberg, born in: Czech Republic
name: Stefan Hell, born in: Romania
name: Herta Müller, born in: Romania
name: Gabriel Lippmann, born in: Luxembourg
name: Ivan Bunin, born in: Russia and Soviet Union
name: Albert Schweitzer, born in: Germany
name: Georges Charpak, born in: Poland
name: Gao Xingjian, born in: China (People's Republic of China)
name: Emmanuelle Charpentier, born in: Germany
name: Serge Haroche, born in: Morocco
name: Jules A. Hoffmann, born in: Luxembourg
name: Ben Roy Mottelson, born in: United States
name: Niels Ryberg Finsen, born in: Faroe Islands
name: John Macleod, born in: United Kingdom
name: John Polanyi, born in: Germany
name: Gerhard Herzberg, born in: Germany
name: Michael Smith, born in: United Kingdom
name: Christian de Duve, born in: United Kingdom
name: Svetlana Alexievich, born in: Ukraine
name: Bertha von Suttner, born in: Czech Republic
name: Ilya Prigogine, born in: Russia and Soviet Union
name: Otto Loewi, born in: Germany

In [64]:
df_wbi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980 entries, 0 to 1203
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   link            980 non-null    object
 1   name            980 non-null    object
 2   year            980 non-null    int64
 3   category        979 non-null    object
 4   country         980 non-null    object
 5   text            980 non-null    object
 6   date_of_birth   980 non-null    datetime64[ns]
 7   date_of_death   680 non-null    datetime64[ns]
 8   place_of_birth  980 non-null    object
 9   place_of_death  677 non-null    object
 10  gender          980 non-null    object
 11  award_age       980 non-null    int64
 12  born_in         128 non-null    object
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 107.2+ KB

In [65]:
# this won't work with duplicate names in our index
# df_wbi['born_in'] = df_born_in.born_in

In [66]:
df_wbi.count()

link              980
name              980
year              980
category          979
country           980
text              980
date_of_birth     980
date_of_death     680
place_of_birth    980
place_of_death    677
gender            980
award_age         980
born_in           128
dtype: int64

In [67]:
# Merging DataFrames
df_winners_bios = pd.read_json(open('data/scrapy_nwinners_minibio.json'))
df_clean_bios = pd.merge(df_wbi,df_winners_bios,how='outer',on='link')

In [68]:
df_clean_bios.count()

link              994
name              980
year              980
category          979
country           980
text              980
date_of_birth     980
date_of_death     680
place_of_birth    980
place_of_death    677
gender            980
award_age         980
born_in           128
image_urls        474
mini_bio          474
bio_image         474
dtype: int64

In [69]:
df_clean_bios = df_clean_bios[~df_clean_bios.name.isnull()].drop_duplicates(subset=['link','year'])

In [70]:
df_clean_bios.count()

link              971
name              971
year              971
category          970
country           971
text              971
date_of_birth     971
date_of_death     673
place_of_birth    971
place_of_death    670
gender            971
award_age         971
born_in           127
image_urls        451
mini_bio          451
bio_image         451
dtype: int64

In [71]:
df_clean_bios[df_clean_bios.mini_bio.isnull()]

,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender,award_age,born_in,image_urls,mini_bio,bio_image
17,http://en.wikipedia.org/wiki/L%C3%AA_%C4%90%E1...,Lê Đức Thọ,1973.0,Peace,Vietnam,"Lê Đức Thọ , born in French Indochina , Peace...",1911-10-14,1990-10-13,Hà Nam,Hanoi,male,62.0,NaN,NaN,NaN,NaN
18,http://en.wikipedia.org/wiki/Theodore_Roosevelt,Theodore Roosevelt,1906.0,Peace,United States,"Theodore Roosevelt , Peace, 1906",1858-10-27,1919-01-06,New York City,Sagamore Hill,male,48.0,NaN,NaN,NaN,NaN
19,http://en.wikipedia.org/wiki/Tawakkol_Karman,Tawakkol Karman,2011.0,Peace,Yemen,"Tawakkol Karman , Peace, 2011",1979-02-07,NaT,Ta'izz,NaN,female,32.0,NaN,NaN,NaN,NaN
20,http://en.wikipedia.org/wiki/Albert_A._Michelson,Albert A. Michelson,1907.0,Physics,United States,"Albert A. Michelson , born in then Germany, n...",1852-12-19,1931-05-09,Strzelno,Pasadena,male,55.0,Poland,NaN,NaN,NaN
21,http://en.wikipedia.org/wiki/Elihu_Root,Elihu Root,1912.0,Peace,United States,"Elihu Root , Peace, 1912",1845-02-15,1937-02-07,Clinton,New York City,male,67.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,http://en.wikipedia.org/wiki/Maria_Ressa,Maria Ressa,2021.0,Peace,Philippines,"Maria Ressa , Peace, 2021",1963-10-02,NaT,Manila,NaN,female,58.0,NaN,NaN,NaN,NaN
629,http://en.wikipedia.org/wiki/Olga_Tokarczuk,Olga Tokarczuk,2018.0,Literature,Poland,"Olga Tokarczuk , Literature, 2018",1962-01-29,NaT,Sulechów,NaN,female,56.0,NaN,NaN,NaN,NaN
630,http://en.wikipedia.org/wiki/Wis%C5%82awa_Szym...,Wisława Szymborska,1996.0,Literature,Poland,"Wisława Szymborska , Literature, 1996",1923-07-02,2012-02-01,Kórnik,Kraków,female,73.0,NaN,NaN,NaN,NaN
646,http://en.wikipedia.org/wiki/Yasser_Arafat,Yasser Arafat,1994.0,Peace,Palestine,"Yasser Arafat , Born in Cairo, Egypt , Peace,...",1929-08-04,2004-11-11,Cairo,Clamart,male,65.0,NaN,NaN,NaN,NaN
834,http://en.wikipedia.org/wiki/Klaus_Hasselmann,Klaus Hasselmann,2021.0,Physics,Germany,"Klaus Hasselmann , Physics, 2021",1931-10-25,NaT,Hamburg,NaN,male,90.0,NaN,NaN,NaN,NaN

In [72]:
df_clean_bios.drop('image_urls', axis=1, inplace=True)
df_clean_bios.count()

link              971
name              971
year              971
category          970
country           971
text              971
date_of_birth     971
date_of_death     673
place_of_birth    971
place_of_death    670
gender            971
award_age         971
born_in           127
mini_bio          451
bio_image         451
dtype: int64

In [73]:
df_clean_bios.to_json('data/nobel_winners_cleaned.json',orient='records',date_format='iso')

In [5]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, Column, Integer, String, Enum
import psycopg2

db_params = {
    "dbname": "postgres",
    "user": "filipe",
    "password": "mysecretword123",
    "host": "localhost",
    "port": "5432",
}

new_db_name = "nobel_winners_chapter_nine"


# def create_database(dbname):
#     try:
#         conn = psycopg2.connect(
#             dbname=db_params["dbname"],
#             user=db_params["user"],
#             password=db_params["password"],
#             host=db_params["host"],
#         )
#         conn.autocommit = True
#         cursor = conn.cursor()
#         cursor.execute(f"CREATE DATABASE {dbname}")
#         cursor.close()
#         conn.close()
#         print(f"Database {new_db_name} created successfully.")
#     except Exception as e:
#         print(f"Failed to create database: {e}")


# create_database(new_db_name)

engine = create_engine(
    f'postgresql+psycopg2://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{new_db_name}'
)


# df_clean_bios.to_sql("winners", engine, if_exists="replace")

In [6]:
import pandas as pd
df_read_sql = pd.read_sql('winners',engine)
df_read_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           971 non-null    int64
 1   link            971 non-null    object
 2   name            971 non-null    object
 3   year            971 non-null    float64
 4   category        970 non-null    object
 5   country         971 non-null    object
 6   text            971 non-null    object
 7   date_of_birth   971 non-null    datetime64[ns]
 8   date_of_death   673 non-null    datetime64[ns]
 9   place_of_birth  971 non-null    object
 10  place_of_death  670 non-null    object
 11  gender          971 non-null    object
 12  award_age       971 non-null    float64
 13  born_in         127 non-null    object
 14  mini_bio        451 non-null    object
 15  bio_image       451 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(1), object(11)
memory usage: 121.5+ KB

In [7]:
pd.read_sql_query("SELECT * FROM winners WHERE country='Japan'", engine)

,index,link,name,year,category,country,text,date_of_birth,date_of_death,place_of_birth,place_of_death,gender,award_age,born_in,mini_bio,bio_image
0,672,http://en.wikipedia.org/wiki/Kenzabur%C5%8D_%C...,Kenzaburō Ōe,1994.0,Literature,Japan,"Kenzaburō Ōe , Literature, 1994",1935-01-31,2023-03-03,Ōse,None,male,59.0,None,"<p><b>Kenzaburō Ōe</b><span style=""font-weight...",full/c5f9e6e90e966894382236c6c5ea303dca36a51f.jpg
1,673,http://en.wikipedia.org/wiki/Susumu_Tonegawa,Susumu Tonegawa,1987.0,Physiology or Medicine,Japan,"Susumu Tonegawa , Physiology or Medicine, 1987",1939-09-06,NaT,Nagoya,None,male,48.0,None,"<p><b>Susumu Tonegawa</b><span style=""font-wei...",full/8d4dab9c2934a5b2129c195b955cbdf7bbd8dd3c.jpg
2,674,http://en.wikipedia.org/wiki/Kenichi_Fukui,Kenichi Fukui,1981.0,Chemistry,Japan,"Kenichi Fukui , Chemistry, 1981",1918-10-04,1998-01-09,Heijō,Kyoto,male,63.0,None,"<p><b>Kenichi Fukui</b><span style=""font-weigh...",full/3f29c98b15436c1477b6d7bcf893e9d20788c32f.jpg
3,675,http://en.wikipedia.org/wiki/Eisaku_Sat%C5%8D,Eisaku Satō,1974.0,Peace,Japan,"Eisaku Satō , Peace, 1974",1901-03-27,1975-06-03,Tabuse,The Jikei University Hospital,male,73.0,None,"<p><b>Eisaku Satō</b><span style=""font-weight:...",full/f66a21f02883747b2689a30bb09147a4de729c6a.jpg
4,676,http://en.wikipedia.org/wiki/Leo_Esaki,Leo Esaki,1973.0,Physics,Japan,"Leo Esaki , Physics, 1973",1925-03-12,NaT,Takaida,None,male,48.0,None,<p><b>Reona Esaki</b> (江崎 玲於奈 <i>Esaki Reona</...,full/5709d3674213e9d3a1b6846ff95606e65a41c860.jpg
5,677,http://en.wikipedia.org/wiki/Koichi_Tanaka,Koichi Tanaka,2002.0,Chemistry,Japan,"Koichi Tanaka , Chemistry, 2002",1959-08-03,NaT,Toyama,None,male,43.0,None,"<p><b>Koichi Tanaka</b><span style=""font-weigh...",full/632f4321d20c3bfddd8cfb4f9d00d8744d032859.jpg
6,678,http://en.wikipedia.org/wiki/Masatoshi_Koshiba,Masatoshi Koshiba,2002.0,Physics,Japan,"Masatoshi Koshiba , Physics, 2002",1926-09-19,2020-11-12,Toyohashi,Tokyo,male,76.0,None,"<p><b>Masatoshi Koshiba</b><span style=""font-w...",full/3f5e3ae23987c94e682b1527728ec4c4ef048047.jpg
7,679,http://en.wikipedia.org/wiki/Toshihide_Maskawa,Toshihide Maskawa,2008.0,Physics,Japan,"Toshihide Maskawa , Physics, 2008",1940-02-07,2021-07-23,Nagoya,Kyoto,male,68.0,None,<p><b>Toshihide Maskawa</b> (or <b>Masukawa</b...,full/3e4321f1022a1478ee2ffbdfc0680d722c3a6441.jpg
8,680,http://en.wikipedia.org/wiki/Makoto_Kobayashi_...,Makoto Kobayashi,2008.0,Physics,Japan,"Makoto Kobayashi , Physics, 2008",1944-04-07,NaT,Nagoya,None,male,64.0,None,"<p><b>Makoto Kobayashi</b><span style=""font-we...",full/945a31a0afd2e821513e0d676dfa251f4605c1e5.jpg
9,681,http://en.wikipedia.org/wiki/Shinya_Yamanaka,Shinya Yamanaka,2012.0,Physiology or Medicine,Japan,"Shinya Yamanaka , Physiology or Medicine, 2012",1962-09-04,NaT,Hiraoka,None,male,50.0,None,"<p class=""mw-empty-elt"">\n</p><p><b>Shinya Yam...",full/10191526d8d3d5183017fd0416c16911eebcfde3.jpg
10,682,http://en.wikipedia.org/wiki/Akira_Suzuki_(che...,Akira Suzuki,2010.0,Chemistry,Japan,"Akira Suzuki , Chemistry, 2010",1930-09-12,NaT,Mukawa,None,male,80.0,None,"<p><b>Akira Suzuki</b><span style=""font-weight...",full/4f93729ec22ed121f699aef23ec2ab59164d93a7.jpg
11,683,http://en.wikipedia.org/wiki/Hiroshi_Amano,Hiroshi Amano,2014.0,Physics,Japan,"Hiroshi Amano , Physics, 2014",1960-09-11,NaT,Hamamatsu,None,male,54.0,None,"<p><b>Hiroshi Amano</b><span style=""font-weigh...",full/ad236f8070ad9c6e1dc3b35e97acd66966259f84.jpg
12,684,http://en.wikipedia.org/wiki/Isamu_Akasaki,Isamu Akasaki,2014.0,Physics,Japan,"Isamu Akasaki , Physics, 2014",1929-01-30,2021-04-01,Chiran,Nagoya,male,85.0,None,"<p><b>Isamu Akasaki</b><span style=""font-weigh...",full/c85f5bfaba3a43ca89c128de0a1b7e3dd7af3cc0.jpg
13,685,http://en.wikipedia.org/wiki/Ei-ichi_Negishi,Ei-ichi Negishi,2010.0,Chemistry,Japan,"Ei-ichi Negishi , Born in China , Chemistry, ...",1935-07-14,2021-06-06,Hsinking,Indianapolis,male,75.0,None,"<p><b>Ei-ichi Negishi</b><span style=""font-wei...",full/acd8b2fe4e70d0edb4bb0143b813f26abf93f94c.jpg
14,686,http://en.wikipedia.org/wiki/Osamu_Shimomura,Osamu Shimomura,2008.0,Chemistry,Japan,"Osamu Shimomura , Chemistry, 2008",1928-08-27,2018-10-19,Fukuchiyama,Nagasaki,male,80.0,None,"<p><b>Osamu Shimomura</b><span style=""font-wei...",full/d0c65a29be8597856800595a2dd6e9cd10c3023a.jpg
15,687,http://en.wikipedia.org/wiki/Ry%C5%8Dji_Noyori,Ryōji Noyori,2001.0,Chemistry,Japan,"Ryōji Noyori , Chemistry, 2001",1938-09-03,NaT,Ashiya,None,male,63.0,None,"<p><b>Ryōji Noyori</b><span style=""font-weight...",full/498130a3be3cf536b839f1c3d159650ac0ea802a.jpg
16,688,http://en.wikipedia.org/wiki/Hideki_Shirakawa,Hideki Shirakawa,2000.0,Chemistry,Japan,"Hideki Shirakawa , Chemistry, 2000",1936-08-20,NaT,Tokyo,None,male,64.0,None,"<p><b>Hideki Shirakawa</b><span style=""font-we...",full/76126fe59a788b04a61bf540f8c1aee41998b900.jpg
17,689,http://en.wikipedia.org/wiki/Yasunari_Kawabata,Yasunari Kawabata,1968.0,Literature,Japan,"Yasunari Kawabata , Literature, 1968",1899-06-11,1972-04-16,Osaka,Zushi,male,69.0,None,"<p class=""mw-empty-elt"">\n</p><p><b>Yasunari K...",full/95783582ebf52f512304ccb8ed7ff11d17707303.jpg
18,690,http://en.wikipedia.org/wiki/Sin-Itiro_Tomonaga,Sin-Itiro Tomonaga,1965.0,Physics,Japan,"Sin-Itiro Tomonaga , Physics, 1965",1906-03-31,1979-07-08,Tokyo,Tokyo,male,59.0,None,"<p><b>Shinichiro Tomonaga</b><sup id=""cite_ref...",full/4858fa0e8efde0bba6165da5ac20b613021389cc.jpg
19,691,http://en.wikipedia.org/wiki/Hideki_Yukawa,Hideki Yukawa,1949.0,Physics,Japan,"Hideki Yukawa , Physics, 1949",1907-01-23,1981-09-08,Azabu,Kyoto,male,42.0,None,"<p><b>Hideki Yukawa</b> <span class=""noexcerpt...",full/ff3c49f547a82ce7e2f2234c3856edc841be0e59.jpg
20,693,http://en.wikipedia.org/wiki/Takaaki_Kajita,Takaaki Kajita,2015.0,Physics,Japan,"Takaaki Kajita , Physics, 2015",1959-03-09,NaT,Higashimatsuyama,None,male,56.0,None,"<p><b>Takaaki Kajita</b><span style=""font-weig...",full/ae07da1aaaac9823141e55587a3f3f0483df69f6.jpg
21,694,http://en.wikipedia.org/wiki/Satoshi_%C5%8Cmura,Satoshi Ōmura,2015.0,Physiology or Medicine,Japan,"Satoshi Ōmura , Physiology or Medicine, 2015",1935-07-12,NaT,Kamiyama,None,male,80.0,None,"<p><b>Satoshi Ōmura</b><span style=""font-weigh...",full/8efb2a6027e4fce7e1a0f16856b06da77ec33576.jpg
22,695,http://en.wikipedia.org/wiki/Yoshinori_Ohsumi,Yoshinori Ohsumi,2016.0,Physiology or Medicine,Japan,"Yoshinori Ohsumi , Physiology or Medicine, 2016",1945-02-09,NaT,Fukuoka,None,male,71.0,None,"<p><b>Yoshinori Ohsumi</b><span style=""font-we...",full/e11d19e57623f7a1f4379befba70a89b636d61d5.jpg
23,696,http://en.wikipedia.org/wiki/Tasuku_Honjo,Tasuku Honjo,2018.0,Physiology or Medicine,Japan,"Tasuku Honjo , Physiology or Medicine, 2018",1942-01-27,NaT,Kyoto,None,male,76.0,None,"<p><b>Tasuku Honjo</b><span style=""font-weight...",full/2c15462a388957c0f11299b1fffabb7da1d5c9f4.jpg
24,706,http://en.wikipedia.org/wiki/Akira_Yoshino,Akira Yoshino,2019.0,Chemistry,Japan,"Akira Yoshino , Chemistry, 2019",1948-01-30,NaT,Suita,None,male,71.0,None,"<p class=""mw-empty-elt"">\n</p><p><b>Akira Yosh...",full/7d6f6c16a4698051cf31c58d2fdb5819ec945b89.jpg